.example-spacer {
  flex: 1 1 auto;
}
.example-icon {
  border: 0px;
}

ul#menu li{
  display: inline;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgba(54, 54, 54, 0.815);
  padding-right: 10px;
}
