<div fxLayout="column" fxLayoutAlign="center" class="text_desc">
  <h2>Benvenuti</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus vel risus et luctus.
      Fusce auctor, risus eget dapibus dignissim, massa sem malesuada enim, sed pretium ex ante
      vel ligula. Maecenas facilisis justo in maximus feugiat. Nulla vitae lectus urna. Integer
      sed iaculis quam. Nullam vestibulum eleifend fringilla. </p>
</div>
<div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="center">
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of cards">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <a class="custom_text" routerLink="{{ card.url }}"> {{ card.title }} </a>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ card.photo }}" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
</div>

