<p>Cerca una meta</p>
<div>
  <app-trip-search></app-trip-search>
</div>
<p>Ecco altre nostre mete</p>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let trip of trips$ | async">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> {{ trip.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ trip.photoUrl }}" alt="Photo of {{ trip.title }}">
      <mat-card-content>
        <p>{{ trip.description }}</p>
      </mat-card-content>
      <button><a routerLink="/destinations/trip/{{ trip.id }}">Scopri</a></button>
    </mat-card>
    </div>
  </div>

</div>
