.example-card {
  max-width: 200px;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}


.custom_button {
  background-color: rgba(139, 0, 0, 0.794);
  color: white;
}

.custom_button:hover {
  transition: 0.3;
  background-color: transparent;
  color: rgba(139, 0, 0, 0.794);
}
